.hero-carousel {
  border-radius: 5px;
  z-index: 0;
}

.hero-carousel > ul > li {
  border-radius: 5px;
}

.latest-deals > div > img:hover {
  transform: scale(1.1);
}

.shop-deals {
  transition: 0.5s;
}

.card-content {
  transition: 0.5s;
}

.text {
  transition: 0.5s;
}

.image {
  opacity: 0;
  transition: 0.5s;
}

.shop-deals:hover .text {
  opacity: 0;
}

.shop-deals:hover .image {
  opacity: 1;
}

.product-nav-card > div > img:hover {
  filter: brightness(0.3);
}

.product-nav-card:hover .product-nav-text {
  opacity: 1;
  transform: translateX(-50%) translateY(-200%);
}
