.container {
  width: 65%;
  position: fixed;
}

.left {
  width: 100%;
  display: flex;
}

.left_1 {
  width: 70px;
  display: flex;
  flex-direction: column;
}

.img_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border: 1px solid gainsboro;
  padding: 3px;
  cursor: pointer;
  background: #fff;
}

.img_wrap img {
  width: 100%;
  height: auto;
}

.active {
  border: 2px solid rgb(235, 158, 15);
}
