.container {
  width: 33%;
  position: fixed;
}

.left {
  width: 100%;
  display: flex;
  gap: 1px;
}

.left_1 {
  width: 70px;
  display: flex;
  gap: 1px;
  flex-direction: column;
}

.img_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border: 2px solid rgb(138, 138, 138);
  padding: 3px;
  cursor: pointer;
  background: #fff;
}

.img_wrap img {
  width: 100%;
  height: auto;
}
