.container {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 1px solid #ccc;
  margin: 5px;
  background-color: #f7f7f7;
}

.item {
  width: 100%;
}
