.container {
  width: 100%;
}

.left {
  width: 100%;
  display: flex;
  gap: 10px;
}

.left_1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img_wrap {
  width: 80%;
  max-width: 100%;
  border: 2px solid gray;
  cursor: pointer;
}

.img_wrap img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.active {
  border: 2px solid rgb(235, 158, 15);
}
